*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

:where(input, button, textarea, select):disabled {
  background-color: inherit;
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
}

button {
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  outline-offset: unset;
  text-align: left;
}

button:disabled {
  cursor: not-allowed;
}
